
@if(pdfFile) {
    <app-pdf-split-params [pdfPages]="countPages" (split)="onSplit($event, splitResultModal)"></app-pdf-split-params>
    <app-pdf-page-list [pages]="loadedPdfPages$ | async" [pageActionButtons]="['delete', 'preview', 'duplicate']" [selection]="true"></app-pdf-page-list>
} @else {
    <app-file-upload-dropzone [accept]="accept" (selectFiles)="onSelectFiles($event)"></app-file-upload-dropzone>
}

<ng-template #splitResultModal let-modal>
    <app-pdf-split-success [download]="download" [zipFileInfos]="zipFileInfos"></app-pdf-split-success>
</ng-template>