
@if(pdfFile) {
    <app-pdf-split-params [pdfPages]="countPages" (split)="onSplit($event, splitResultModal)"></app-pdf-split-params>
    <app-pdf-page-list [pages]="loadedPdfPages$ | async"></app-pdf-page-list>
} @else {
    <app-file-upload-dropzone [accept]="accept" (selectFiles)="onSelectFiles($event)"></app-file-upload-dropzone>
}


<ng-template #splitResultModal let-modal>
    <div class="modal-content rounded-4 shadow">
        <div class="modal-body p-5">
          <h2 class="fw-bold mb-0">What's new</h2>
  
          <ul class="d-grid gap-4 my-5 list-unstyled small">
            <li class="d-flex gap-4">
              <svg class="bi text-body-secondary flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
              <div>
                <h5 class="mb-0">Grid view</h5>
                Not into lists? Try the new grid view.
              </div>
            </li>
            <li class="d-flex gap-4">
              <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
              <div>
                <h5 class="mb-0">Bookmarks</h5>
                Save items you love for easy access later.
              </div>
            </li>
            <li class="d-flex gap-4">
              <svg class="bi text-primary flex-shrink-0" width="48" height="48"><use xlink:href="#film"></use></svg>
              <div>
                <h5 class="mb-0">Video embeds</h5>
                Share videos wherever you go.
              </div>
            </li>
          </ul>
          <a id="download" href="javascript:void(0)" class="btn btn-lg btn-primary mt-5 w-100">Download</a>
        </div>
      </div>
</ng-template>