
@if(pdfFile) {
    <app-pdf-extract-params 
        [selectAll]="selectAll"
        [selectedPagesCount]="selectedPages.length" 
        (extract)="onClickExtract($event)"
        (selectAllChange)="selectAll = $event"></app-pdf-extract-params>
    
    <app-pdf-page-list [pages]="loadedPdfPages$ | async" 
        [pageActionButtons]="['delete', 'duplicate', 'preview']"
        [selection]="true"
        [selectAll]="selectAll"
        [dragAndDropReorder]="true"
        (preview)="onPreview($event, previewModal)"
        (selectedPagesChange)="onSelectedPagesChange($event)">
    </app-pdf-page-list>
} @else {
    <app-file-upload-dropzone [accept]="accept" (selectFiles)="onSelectFiles($event)"></app-file-upload-dropzone>
}

<ng-template #previewModal let-modal>
    <app-pdf-viewer [pages]="selectedPages" [currentPage]="previewPage" (dismiss)="modal.dismiss()"></app-pdf-viewer>
</ng-template>