.navbar-toggler {
    border: none;
    box-shadow: none;
}

.navbar-toggler {
    display: none !important;
  }
  
.mobile-menu {
    display: none !important;
}


.mobile-menu {

    .sidebar-menu .brand {
        display: none !important;
    }
    
    .nav {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 8px;
        padding-right: 8px;
  
    }
}


@media screen and (max-width: 900px) {
    .mobile-menu {
        display: block !important;
    }

    .navbar-toggler {
        display: block !important;
      }
  
}


@keyframes slidein {
    0%   {margin-left:1500px;}
    100% {margin-left:0px;}
}
.note {
    animation-name: slidein;
    animation-duration: .9s;
    display: block;
}


.dropdown-menu {
    top: 45px;
    left: -195px;
    width: 230px;

    i {
        margin-right: 8px;
    }

    .name {
        font-size: 14px;
        padding-left: 16px;
        font-weight: bold;
    }
    .email {
        font-size: 12px;
        padding-left: 16px;
    }
}