<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" (click)="toogle = !toogle">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-brand">{{  title$ | async | translate }}</div>

      <div class="d-flex gap-2">
        <button class="btn btn-sm" type="button">{{ 'BUTTONS.LOGIN' | translate }}</button>
        <button class="btn btn-primary me-2" type="button">{{ 'BUTTONS.SIGNUP' | translate }}</button>
      </div>

    </div>
  </nav>

  @if(toogle) {
    <app-sidebar class="mobile-menu" [@inOutAnimation]></app-sidebar>
  }

