<form class="text-box-options" [formGroup]="textBoxOptionForm">
    <div class="text-box-font" ngbDropdown>
        <button type="button" class="btn btn-light" ngbDropdownToggle> {{font}} </button>
        <div ngbDropdownMenu>
            @for (item of fonts; track $index) {
                <button (click)="font = item" ngbDropdownItem>{{ item }}</button>
            }
        </div>
        <input type="hidden" formControlName="font" [(ngModel)]="font" />
    </div>
    
    <div class="text-box-size">
        <input class="form-control" type="number" formControlName="size" step="1" min="8" max="32"/>
    </div>

    <div class="text-box-color">
        <button class="btn btn-light" type="button" [(colorPicker)]="color" [cpPosition]="'bottom'" [cpDisableInput]="true">
            <i class="bi bi-square-fill" [ngStyle]="{'color': color}"></i></button>

            <input type="hidden" formControlName="color" [(ngModel)]="color">
    </div>
</form>