.dropdown-toggle::after {
    display:none;
}

.form-control, .form-control:focus, button {
    box-shadow: none;
    border: none;
}


.text-box-options {
    top: 90px;
    display: flex;
    border: none;
    min-width: 260px;
}

.text-box-font {
    border-right: 1px solid rgba(128, 128, 128, 0.161);
    width: 55%;

    button {
        width: 100%;
        border-radius: 0px;
    }
}

.text-box-size {
    width: 30%;
    border-right: 1px solid rgba(128, 128, 128, 0.161);
}


.text-box-color {
    width: 15%;

    button {
        border-radius: 0px;
    }
}
