@import 'variables';

div.main {
  margin-left: $sidebar-width;
  height: 100vh;
  background-color: rgb(231, 228, 228);
  overflow: hidden;
}



@media screen and (max-width: 900px) {
  .sidebar {
    display: none !important;
  }
  div.main {
    margin-left: 0;
    width: 100vw;
  }
}

