<nav class="navbar navbar-expand-lg bg-body-tertiary border-top">
    <div class="container-fluid">
        <button class="btn btn-light"><i class="bi bi-layout-sidebar"></i></button>

        <div class="d-flex justify-content-center">

            <!-- TextBox button -->
            <div class="tool-btn" ngbDropdown #textboxdp="ngbDropdown">
                <button class="btn btn-light" type="button" (click)="clickTextBox()"><i class="bi bi-textarea-t"></i></button>
                
                <app-text-box-options class="tool-options-dropdown" 
                    [defaultTextBoxOptions]="defaultTextBoxOptions" 
                    [selectedTextBoxOptions$]="selectedTextBoxOptions$"
                    (changeTextBoxOptions)="onChangeTextBoxOptions($event)" ngbDropdownMenu></app-text-box-options>
            </div>
            
            <!-- Pen button -->
            <div class="tool-btn" ngbDropdown #pendp="ngbDropdown">
                <button class="btn btn btn-light me-md-2" type="button" (click)="clickPen()"><i class="bi bi-pen"></i></button>

                <app-pen-options class="tool-options-dropdown"
                    [defaultPenOptions]="defaultPenOptions"
                    (changePenOptions)="onChangePenOptions($event)" ngbDropdownMenu></app-pen-options>
            </div> 

            <!-- Eraser button -->
            <div class="tool-btn" ngbDropdown #eraserdp="ngbDropdown">
                <button class="btn btn btn-light me-md-2" type="button" (click)="clickEraser()"><i class="bi bi-eraser-fill"></i></button>

                <app-eraser-options class="tool-options-dropdown"
                    [defaultEraserOptions]="defaultEraserOptions"
                    (changeEraserOptions)="onChangeEraserOptions($event)" ngbDropdownMenu></app-eraser-options>
            </div>

            <!-- Shape button -->
            <div class="tool-btn" ngbDropdown #shapesdp="ngbDropdown">
                <button class="btn btn-light" type="button" (click)="clickShapes()"><i class="bi bi-square"></i></button>

                <div class="tool-shapes-dropdown" ngbDropdownMenu>
                    <button (click)="selectShape('rectangle')" ngbDropdownItem><i class="bi bi-square"></i> Rectangle</button>
                    <button (click)="selectShape('ellipse')" ngbDropdownItem><i class="bi bi-circle"></i> Ellipse</button>
                    <button (click)="selectShape('line')" ngbDropdownItem><i class="bi bi-dash-lg"></i> Line</button>
                    <button (click)="selectShape('arrow')" ngbDropdownItem><i class="bi bi-arrow-down-left"></i> Arrow</button>    
                </div>
            </div>

            <div ngbDropdown #shapesOptionsdp="ngbDropdown">
                <app-shape-options class="tool-shapes-dropdown tool-options-dropdown"
                    [defaultShapeOptions]="defaultShapeOptions"
                    [selectedShape]="selectedShape"
                    [selectedShapeOptions$]="selectedShapeOptions$"
                    (changeShapeOptions)="onChangeShapesOptions($event)" ngbDropdownMenu></app-shape-options>
            </div>


            <button class="btn btn btn-light me-md-2" type="button"><i class="bi bi-file-earmark-image"></i></button>

        </div>

        <div class="d-grid gap-1 d-md-flex justify-content-md-end">
            <!-- undo button -->
            <button class="btn btn btn-light me-md-2" type="button" (click)="clickUndo()"><i class="bi bi-arrow-counterclockwise"></i></button>

            <!-- redo button -->
            <button class="btn btn btn-light me-md-2" type="button" (click)="clickRedo()"><i class="bi bi-arrow-clockwise"></i></button>
          </div>
    </div>
  </nav>