<nav class="navbar navbar-expand-lg bg-body-tertiary border-top">
    <div class="container-fluid">
        <button class="btn btn-light"><i class="bi bi-layout-sidebar"></i></button>

        <div class="d-flex justify-content-center">

            <div class="text-box" #textboxdp ngbDropdown>
                <button class="btn btn-light" (click)="clickTextBox()"><i class="bi bi-textarea-t"></i></button>
                <app-text-box-options class="tool-options-dropdown" [defaultTextBoxOptions]="defaultTextBoxOptions" [selectedTextBoxOptions$]="selectedTextBoxOptions$"
                    (changeTextBoxOptions)="onChangeTextBoxOptions($event)" ngbDropdownMenu></app-text-box-options>
            </div>

            
            <button class="btn btn btn-light me-md-2" type="button"><i class="bi bi-pen"></i></button>

            <button class="btn btn btn-light me-md-2" type="button"><i class="bi bi-eraser-fill"></i></button>
            
            <div class="d-inline-block">
                <button class="btn btn-light" type="button"><i class="bi bi-square"></i></button>
            </div>

            <button class="btn btn btn-light me-md-2" type="button"><i class="bi bi-file-earmark-image"></i></button>

        </div>

        <div class="d-grid gap-1 d-md-flex justify-content-md-end">
            <!-- undo button -->
            <button class="btn btn btn-light me-md-2" type="button" (click)="clickUndo()"><i class="bi bi-arrow-counterclockwise"></i></button>

            <!-- redo button -->
            <button class="btn btn btn-light me-md-2" type="button" (click)="clickRedo()"><i class="bi bi-arrow-clockwise"></i></button>
          </div>
    </div>
  </nav>