<div class="sidebar-menu align-items-center">

    <div class="brand border-bottom p-2 text-center">{{ appName }}</div>

    <ul class="nav mb-auto">
        @for (item of menuItems; track $index) {
            <li class="nav-item text-center">
                <a href="javascript:void(0)" [routerLink]="item.link" class="nav-link d-flex flex-column rounded-0">
                    <i [classList]="[item.icon]"></i>
                    {{ item.label | translate }}  
                </a>
            </li>
        }    
    </ul>
</div>
