$pdf-navigator-width: 220px;

.pdf-navigator {
    position: fixed;
    width: $pdf-navigator-width;
    height: 100%;
    margin-top: 20px;
    padding: 0;
    border-right: 1px rgba(128, 128, 128, 0.361) solid;
}

.pdf-editor {
    position: relative;
}

#pdf-display, #pdf-edit{
    position: absolute;
    left: 0px;
    top: 0px; 
}

.pdf-editor-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: $pdf-navigator-width;
    width: calc(100vw - $pdf-navigator-width - 65px);
    height: calc(100vh - 115px);
    padding-top: 65px;
    overflow: auto; 
}

@media screen and (max-width: 900px) {
    .pdf-editor-wrapper {
      width: 100%;
      margin-left: 0px;
      position: relative;
    }

    .pdf-navigator {
        display: none;
    }
}