<app-pdf-editor-toolbar 
    [defaultTextBoxOptions]="selectedTextBoxOptions"
    (selectedTool)="onSelectTool($event)" 
    (changeTextBoxOptions)="onChangeTextBoxOptions($event)"></app-pdf-editor-toolbar>

<div class="pdf-navigator">
    <app-pdf-editor-navigator [pages]="loadedPdfPages$ | async" (selectPage)="onSelectPage($event)"></app-pdf-editor-navigator>
</div>

<div class="pdf-editor-wrapper">
    <div class="pdf-editor" #pdfEditor>
        <canvas id="pdf-display" appPdfViewer [page]="currentPage" [viewportParameters]="viewportParams"></canvas>
        <canvas id="pdf-edit" #pdfEditCanvas></canvas>
    </div>
</div>